body {
  font-family: "Arvo", serif;
  background: rgb(147, 88, 209);
  background: linear-gradient(
    157deg,
    rgba(147, 88, 209, 1) 0%,
    rgba(162, 89, 157, 1) 100%
  );
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
}
.error-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.error-body {
  margin: 15px 0;
}
.error-body-title {
  font-size: 30px;
}
@media (max-width: 992px) {
  .error-body-container {
    align-items: center;
  }
}
